[meu-atributo~="valor1"] {
    color: red;
}

/* Quando um atributo possui multiplos valores e eu quero selecionar os que tem pelo menos um dos valores utiliza-se "~". */

[meu-atributo^="val"] {
    color: green;
}

/* Utiliza-se o "^" para selecionar um valor que começe com o valor passado no seletor. */

[meu-atributo$="or"] {
    color: blue;
}

/* Utiliza-se "$" para selecionar um valor que termine com o valor passado no seletor. */

[meu-atributo*="al"] {
    color: purple;
}

/* Utiliza-se "*" para selecionar um valor quem contém o valor passado no seletor. */

.heading {
    transition: all 500ms ease-in-out;
}

.heading:hover {
    background: red;
}

/* :hover serve para fazer algo quando se é passado o mouse na parte especificada. */

a {
    color: darkorange;
}

a:link {
    color: deeppink;
}

/* :link para deixar um link não visitado de uma cor especifica. */

a:visited {
    color: firebrick;
} 

/* :visited para deixar um link já visitado de uma cor especifica. */

a:hover {
    background: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active {
    background: darkslategray;
    color: white;
    text-decoration: none;
}

/* :active para fazer algo quando o link estiver sendo clicado. */

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0);
    outline: none;
    border: 1px solid black;
}

/* :focus para dar foco em um campo quando ele estiver ativo. */

input:disabled {
    background-color: purple;
    cursor: not-allowed;
}

.input2:required {
    background: red;
}

/* :required serve para selecionar todos os inputs que são requeridos. */

.pai .lista li:first-child {
    background: red;    
}

/* :first-child serve para selecionar o primeiro item de uma lista. */

.pai .lista li:last-child{
    background: blue;
}

/* :last-child serve para selecionar o ultimo item de uma lista. */ 

p:not(.last) {
    color: blue;
}

/* :not() serve para excluir algo, ou seja selecionar tudo menos o que foi especificado dentro do :not(). */

.lista2 li:nth-child() {
    background-color: rebeccapurple;
}

/* serve para selecionar irmãos, ou seja, vários itens que tem o mesmo pai. Tem varias formas de ser usado:
n -> seleciona o índice especificado. 
odd -> apenas índices ímpares.
even -> apenas índices pares.
xn -> funciona como um contador sendo x o número de passos, por exemplo, 3n irá selecionar cada terceiro item.
xn+y -> o mesmo que o anterior porém com y sendo o ponto de partida, por exemplo, 3n+5 irá selecionar cada terceiro item a partir do item 5.*/
